.image-point{
	max-width: 500px;
	margin: 0 auto;
	display: inline-block;
	position: relative;
	
	.point{
		height: 72px;
	    position: absolute;
	    top: 56%;
	    left: 15%;
	    line-height: 30px;
	}

	.point .plus{
		width: 30px;
	    height: 30px;
	    position: absolute;
	    top: 0;
	    z-index: 10;
	    left: -7px;
	    line-height: 30px;
	    text-align: center;
	    font-weight: bold;
	    font-size: 30px;
	    color: #fff;
	    background: #3fc329;
	    border-radius: 50%;
	    cursor: pointer;
	}

	.point .desc{
		width: 20;
		padding: 0;
		display: inline-block;
		position: relative;
		opacity: 0;
	    background-color: color(primary-dark);
	    border-radius: 17px;
  	    color: color(snow);
		transition: all .2s cubic-bezier(0.4, 0, 0.2, 1);
	}
	.point:hover .desc{
		width: auto;
		padding: 0 10px 0 30px;
		opacity: 1;
		border-color: 1px solid color(primary-dark);
		transition: all .4s cubic-bezier(0.4, 0, 0.2, 1);
	}
	.point .mais{
	    position: absolute;
	    top: 45px;
	    opacity: 0;
	    color: color(primary-dark);
	    transition: all 0.6s cubic-bezier(0.4, 0, 0.2, 1);
	    width: 70px;
	    margin-left: -35px;
	    left: 50%;
	    font-size: 13px;
	    background: color(snow);
	    text-align: center;
	    line-height: 26px;
	    border-radius: 15px;
	    box-shadow: 1px 1px 1px 0px;
	}
	.point:hover .mais{
		opacity: 1;
	}


}
