/* Layouts */


.container_categoria{
	max-width: 1280px;
	margin: 0 auto;
}

.filter-bar{}

@media (min-width: 768px){
	.filter-bar{
		width: 20%;
		float: left;
	}
	.main-list-products{
		width: 80%;
		float: left;
	}	
}




/* Filtro */

.filter{
	margin-bottom: 20px;
	&__title{
		margin-bottom: 5px;
		font-size: fs(large);
		font-weight: fw(bold);
		color: color(dark); 
		// border-bottom: 1px solid color(grey)
	}

	&__option-list{
		list-style-type: none;
	}

	&__option{
		padding: 2px 0;
		font-size: fs(small);
		color: color(grey-darkest);
		cursor: pointer;
	}

	&__option:hover{
		background-color: color(grey-light);
	}

	&__option a{
		color: color(grey-darkest);
	}
}



/* -------------------------------------------- */
/* CATEGORIA */
/* -------------------------------------------- */
.btn-categoria{

}



/* -------------------------------------------- */
/* LOJA */
/* -------------------------------------------- */

.p-avatar{
	max-width: 110px;
	margin: 0 auto;
	display: block;
	border-radius: 50%;
	border: 4px solid color(primary);
	background: color(secondary);
}

.loja__avatar{
    bottom: -27%;
    width: 20%;
    left: 10px;
    /* top: 74px; */
    position: absolute;
    display: inline-block;
    z-index: 9999999;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    border: 4px solid #f44336;
}

.loja__mini-capa{
	position: relative;
}

.loja__name{
	padding-left: 92px;
	font-size: fs(large);
	font-weight: fw(bold);
	color: color(dark)
}
